<h1>Here are our found pets</h1>

<ul>
  <% @pets.each do |pet|  %>
    <div>
      <li> <%= link_to pet.name, pet_path(pet) %> found: <%= pet.found_days_ago %></li>
    </div>
  <% end %>
</ul>

<%= link_to 'Add a new pet', new_pet_path %>
